<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- packageTitel Column -->
    <ng-container matColumnDef="packageTitel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let row">{{row.packageTitel}}</td>
    </ng-container>

    <!-- packageBemerkungen Column -->
    <ng-container matColumnDef="packageBemerkungen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bemerkungen</th>
      <td mat-cell *matCellDef="let row">{{row.packageBemerkungen}}</td>
    </ng-container>

    <!-- packageCreateDatum Column -->
    <ng-container matColumnDef="packageCreateDatum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Erstellungsdatum</th>
      <td mat-cell *matCellDef="let row">{{row.packageCreateDatum}}</td>
    </ng-container>

    <!-- packageUpdateDatum Column -->
    <ng-container matColumnDef="packageUpdateDatum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktualisierungsdatum</th>
      <td mat-cell *matCellDef="let row">{{row.packageUpdateDatum}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
